 body {
  background-color: violet;
}
h1 {
 background-color: blue;
  
}
h1.solid {border-style: solid;
}
p {
  color: black;
}
p.thick {
  font-weight: bold;
}
p {
  text-decoration: underline;
}
h2 {
   background-color: red;
}